<%- include('partials/header'); -%>

    <header>
        <div class="smoother">
            <img src="/smoothie.png" alt="smoother">
        </div>
        <div class="headings">
            <h2>Smoothie Recipes</h2>
            <h3>By Angkur</h3>
            <a href="/smoothie" class="btn">View Recipes</a>
        </div>
    </header>

    <%- include('partials/footer'); -%>